.container {
  display: flex;
}

.container .products {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
 }

.container .products .product {
   margin-bottom: 20px;
 }

.container .filter-panel {
   width: 300px;
 }

.active {
  color: darkblue;
}

.inactive {
  color: lightskyblue;
}

.filter-groups{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-between;
}
